@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@main(title = Html("Feedback"), nav = "feedback") {
    
    @helper.form(action = routes.SignUp.submit) {
        
        <fieldset>
            <legend>We love feedback! Let us know what you think.</legend>
           
            @textarea(
                signupForm("feedback"), 
                '_label -> "Feedback", 
                'cols -> 50
            )

            @inputText(
                signupForm("email"), 
                '_label -> "Email",
                '_help -> "Optional"
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Submit">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}