@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <link href="assets/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/mapperly.css")" rel="stylesheet"/>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">        
  </head>
  
  <body>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="@routes.Application.index()">Mapperly</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="@("active".when(nav == "map"))">
                  <a href="@routes.Application.index()">Map</a>
                </li>
                <li class="@("active".when(nav == "feedback"))">
                  <a href="@routes.SignUp.form">Feedback</a>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <script src="@routes.Assets.at("javascripts/jquery-1.7.2.js")"></script>

      <div class="container">
        @content
      </div>
      
      <script src="@routes.Assets.at("javascripts/d3.v2.js")"></script>
      <script src="@routes.Assets.at("javascripts/underscore.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
      <script src="@routes.Assets.at("javascripts/mapperly.js")"></script>
        
  </body>
</html>
